<template>
    <el-menu class="navbar" mode="horizontal">
        <hamburger class="hamburger-container" :toggleClick="toggleSideBar" :isActive="sidebar.opened"></hamburger>

        <!--<breadcrumb class="breadcrumb-container"></breadcrumb>-->
        <!--按路由配好的渲染-->
        <ul class="top-menu">
            <li v-for="item in permission_routers" v-if="!item.hidden&&item.children" @click="menuAction(item)">
                <router-link :to="item.path+'/'+item.children[0].path" :key="item.children[0].name">
                    <svg-icon v-if="item.children[0].meta&&item.children[0].meta.icon" :icon-class="item.children[0].meta.icon"></svg-icon>
                    <span>{{generateTitle(item.meta.title)}}</span>
                </router-link>
            </li>
        </ul>

        <div class="right-menu">
            <error-log class="errLog-container right-menu-item"></error-log>

            <!--全屏控制按钮-->
            <!--<el-tooltip effect="dark" :content="$t('navbar.screenfull')" placement="bottom">
        <screenfull class="screenfull right-menu-item"></screenfull>
      </el-tooltip>-->

            <lang-select class="international right-menu-item"></lang-select>

            <!--主题颜色切换-->
            <!--<el-tooltip effect="dark" :content="$t('navbar.theme')" placement="bottom">
        <theme-picker class="theme-switch right-menu-item"></theme-picker>
      </el-tooltip>-->

            <div class="logout">
                <span @click="logout" style="display:block;">{{$t('navbar.logOut')}}</span>
            </div>
            <!--快捷链接跳转-->
            <!--<el-dropdown class="avatar-container right-menu-item" trigger="click">
        <div class="avatar-wrapper">
          <img class="user-avatar" :src="avatar+'?imageView2/1/w/80/h/80'">
          <i class="el-icon-caret-bottom"></i>
        </div>
        <el-dropdown-menu slot="dropdown">
          <router-link to="/">
            <el-dropdown-item>
              {{$t('navbar.dashboard')}}
            </el-dropdown-item>
          </router-link>
          <a target='_blank' href="https://github.com/PanJiaChen/vue-element-admin/">
            <el-dropdown-item>
              {{$t('navbar.github')}}
            </el-dropdown-item>
          </a>
          <el-dropdown-item divided>
            <span @click="logout" style="display:block;">{{$t('navbar.logOut')}}</span>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>-->
        </div>
    </el-menu>
</template>

<script>
import { mapGetters } from 'vuex'
import Breadcrumb from '@/components/Breadcrumb'
import Hamburger from '@/components/Hamburger'
import ErrorLog from '@/components/ErrorLog'
import Screenfull from '@/components/Screenfull'
import LangSelect from '@/components/LangSelect'
import ThemePicker from '@/components/ThemePicker'
import { generateTitle } from '@/utils/i18n'

export default {
  components: {
    Breadcrumb,
    Hamburger,
    ErrorLog,
    Screenfull,
    LangSelect,
    ThemePicker
  },
  computed: {
    ...mapGetters(['permission_routers', 'sidebar', 'name', 'avatar'])
  },
  data() {
    return {
      topMenu: ['采购管理', '商品管理', '供应商管理', '财务管理']
    }
  },
  mounted() {
    console.log(this.permission_routers)
    console.log(this.sidebar)
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('toggleSideBar')
      console.log(this.sidebar)
    },
    logout() {
      this.$store.dispatch('LogOut').then(() => {
        location.reload() // In order to re-instantiate the vue-router object to avoid bugs
      })
    },
    hasOneShowingChildren(children) {
      const showingChildren = children.filter(item => {
        return !item.hidden
      })
      if (showingChildren.length === 1) {
        return true
      }
      return false
    },
    menuAction(item) {
      console.log(item)
      this.$store.dispatch('GenerateMunes', item)
      console.log(this.$store.getters.onlyMuem_routers)

      if (item.meta.sideBarStatus) {
        this.$store.dispatch('openSideBar', { withoutAnimation: true })
      } else {
        this.$store.dispatch('closeSideBar', { withoutAnimation: false })
      }
    },
    generateTitle
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.navbar {
  height: 50px;
  line-height: 50px;
  border-radius: 0px !important;
  background: #53b6eb;
  .top-menu {
    float: left;
    margin-left: 20px;
    height: 50px;
    padding: 0;
    li {
      line-height: 50px;
      font-size: 14px;
      list-style-type: none;
      float: left;
      a {
        display: block;
        padding: 0 20px;
        color: #ffffff;
      }
    }
  }
  .hamburger-container {
    line-height: 58px;
    height: 50px;
    float: left;
    padding: 0 10px;
  }
  .breadcrumb-container {
    float: left;
  }
  .errLog-container {
    display: inline-block;
    vertical-align: top;
  }
  .right-menu {
    float: right;
    height: 100%;
    &:focus {
      outline: none;
    }
    .right-menu-item {
      display: inline-block;
      margin: 0 8px;
    }
    .screenfull {
      height: 20px;
    }
    .international {
      vertical-align: top;
      font-size: 30px;
    }
    .theme-switch {
      vertical-align: 15px;
    }
    .avatar-container {
      height: 50px;
      margin-right: 30px;
      .avatar-wrapper {
        cursor: pointer;
        margin-top: 5px;
        position: relative;
        .user-avatar {
          width: 40px;
          height: 40px;
          border-radius: 10px;
        }
        .el-icon-caret-bottom {
          position: absolute;
          right: -20px;
          top: 25px;
          font-size: 12px;
        }
      }
    }
    .logout {
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      margin-right: 10px;
      color: #ffffff;
    }
  }
}
.el-dropdown {
  color: #ffffff;
}
</style>
