<template>
    <el-scrollbar wrapClass="scrollbar-wrapper">
        <el-menu mode="vertical" :show-timeout="200" :default-active="$route.path" :collapse="isCollapse" background-color="#fff" text-color="#8a8a8a" active-text-color="#409EFF">
            <sidebar-item :routes="onlyMuem_routers"></sidebar-item>
        </el-menu>
    </el-scrollbar>
</template>

<script>
import { mapGetters } from 'vuex'
import SidebarItem from './SidebarItem'

export default {
  components: { SidebarItem },
  computed: {
    ...mapGetters(['permission_routers', 'sidebar', 'onlyMuem_routers']),
    isCollapse() {
      return !this.sidebar.opened
    }
  }
}
</script>
