<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input style="width: 200px;" class="filter-item" placeholder="SKU" v-model="listQuery.type">
      </el-input>
      <el-select clearable class="filter-item" style="width: 130px" v-model="demandStatusVal" placeholder="需求状态">
        <el-option v-for="item in demandStatus" :key="item.key" :label="item.display_name" :value="item.key">
        </el-option>
      </el-select>
      <el-button class="filter-item" type="primary" v-waves icon="el-icon-search">查询</el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-edit" @click.stop="addList('add')">新增</el-button>
      <!--<el-button class="filter-item" type="primary" :loading="downloadLoading" v-waves icon="el-icon-download" @click="handleDownload">{{$t('table.export')}}</el-button>-->
      <!--<el-checkbox class="filter-item" style='margin-left:15px;' @change='tableKey=tableKey+1' v-model="showReviewer">{{$t('table.reviewer')}}</el-checkbox>-->
    </div>
		<div class="ctr-box" v-if="ctrListStatus">
			<el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-edit" @click.stop="delData">删除</el-button>
			<el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-edit">提交审核</el-button>
			<el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-edit">审核不通过</el-button>
			<el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-edit">审核通过</el-button>
		</div>
    <el-table
	    ref="multipleTable"
	    border
	    :data="tableData3"
	    tooltip-effect="dark"
	    style="width: 100%"
	    @selection-change="handleSelectionChange"
	    @row-dblclick="handlecurrentRow">
	    <el-table-column
	      type="selection"
	      width="55">
	    </el-table-column>
	    <el-table-column
	    	prop="listNo"
	      label="需求单号"
	      width="120">
	    </el-table-column>
	    <el-table-column
	      prop="demand"
	      label="需求来源"
	      width="120">
	    </el-table-column>
	    <el-table-column
	      prop="demandStatus"
	      label="需求状态"
	      show-overflow-tooltip>
	    </el-table-column>
	    <el-table-column
	      prop="sku"
	      label="SKU"
	      show-overflow-tooltip>
	    </el-table-column>
	    <el-table-column
	      prop="name"
	      label="商品名称"
	      show-overflow-tooltip>
	    </el-table-column>
	    <el-table-column
	      prop="param"
	      label="参数"
	      show-overflow-tooltip>
	    </el-table-column>
	    <el-table-column
	      prop="store"
	      label="库存数量"
	      show-overflow-tooltip>
	    </el-table-column>
	    <el-table-column
	      prop="sell"
	      label="销售数量"
	      show-overflow-tooltip>
	    </el-table-column>
	    <el-table-column
	      prop="purchase"
	      label="采购数量"
	      show-overflow-tooltip>
	    </el-table-column>
	    
	  </el-table>

    <div class="pagination-container">
      <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.page" :page-sizes="[10,20,30, 50]" :page-size="listQuery.limit" layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>
		
		<!--弹出层-->
		<div :class="scrollwrapperStatus?'scrollwrapper show':'scrollwrapper'" v-clickoutside="handleClose">
			<!--新增采购单-->
			<div class="add-list" v-show="openStatus==='add'">
				 <div class="add-tiel">
				 	<span>新增采购单</span>
				 	<button type="button" aria-label="Close" class="el-dialog__headerbtn" @click="handleClose"><i class="el-dialog__close el-icon el-icon-close"></i></button>
				 </div>
				 <div class="win-btn-box">
		      <el-input style="width: 200px;" class="filter-item" placeholder="SKU" v-model="listQuery.type">
		      </el-input>
		      <el-input style="width: 200px;" class="filter-item" placeholder="商品名称" v-model="listQuery.title">
		      </el-input>
		      <el-button class="filter-item" type="primary" v-waves icon="el-icon-search">查询</el-button>
		      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-edit">采购</el-button>
		    </div>
		    <div class="p10">
			    <el-table
				    ref="multipleTable"
				    border
				    :data="tableData4"
				    tooltip-effect="dark"
				    style="width: 100%"
				    @selection-change="handleSelectionChange">
				    <el-table-column
				      type="selection"
				      width="55">
				    </el-table-column>
				    <el-table-column
				      label="序号"
				      width="120"
				      type="index"
			      	:index="indexMethod">
				    </el-table-column>
				    <el-table-column
				      prop="SKU"
				      label="SKU"
				      width="120">
				    </el-table-column>
				    <el-table-column
				      prop="name"
				      label="商品名称"
				      show-overflow-tooltip>
				    </el-table-column>
				    <el-table-column
				      prop="param"
				      label="参数"
				      show-overflow-tooltip>
				    </el-table-column>
				    <el-table-column
				      prop="sendWarehouse"
				      label="发货仓库"
				      show-overflow-tooltip>
				    </el-table-column>
				    <el-table-column
				      prop="store"
				      label="库存数量"
				      show-overflow-tooltip>
				    </el-table-column>
				    <el-table-column
				      prop="onWayStore"
				      label="在途库存"
				      show-overflow-tooltip>
				    </el-table-column>
				    <el-table-column
				      prop="purchase"
				      label="采购数（审核中）"
				      width="140"
				      show-overflow-tooltip>
				    </el-table-column>
				    <el-table-column
				      prop="sell"
				      label="30天销售数量"
				      width="140"
				      show-overflow-tooltip>
				    </el-table-column>
				    <el-table-column
				      prop="status"
				      label="商品状态"
				      show-overflow-tooltip>
				    </el-table-column>
				    <el-table-column
				      prop="address"
				      label="采购数量"
				      show-overflow-tooltip>
				       <template slot-scope="scope">
				        <el-input v-model="count" placeholder="请输入内容"></el-input>
			      	</template>
				    </el-table-column>
				  </el-table>
			
			    <div class="pagination-container">
			      <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.page" :page-sizes="[10,20,30, 50]" :page-size="listQuery.limit" layout="total, sizes, prev, pager, next, jumper" :total="total">
			      </el-pagination>
			    </div>
		    </div>
			</div>
			<div v-show="openStatus==='detail'">
				<div class="add-tiel">
				 	<span>采购单详情</span>
				 	<button type="button" aria-label="Close" class="el-dialog__headerbtn" @click="handleClose"><i class="el-dialog__close el-icon el-icon-close"></i></button>
				 </div>
			</div>
		</div>
  </div>
</template>

<script>
import { fetchList, fetchPv, createArticle, updateArticle } from '@/api/article'
import waves from '@/directive/waves' // 水波纹指令
import { parseTime } from '@/utils'

const clickoutside = {
    // 初始化指令
    bind(el, binding, vnode) {
        function documentHandler(e) {
            // 这里判断点击的元素是否是本身，是本身，则返回
            if (el.contains(e.target)) {
                return false;
            }
            // 判断指令中是否绑定了函数
            if (binding.expression) {
                // 如果绑定了函数 则调用那个函数，此处binding.value就是handleClose方法
                binding.value(e);
            }
        }
        // 给当前元素绑定个私有变量，方便在unbind中可以解除事件监听
        el.__vueClickOutside__ = documentHandler;
        document.addEventListener('click', documentHandler);
    },
    update() {},
    unbind(el, binding) {
        // 解除事件监听
        document.removeEventListener('click', el.__vueClickOutside__);
        delete el.__vueClickOutside__;
    },
};

export default {
  name: 'complexTable',
  directives: {
    waves,
    clickoutside
  },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: null,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id'
      },
      importanceOptions: [1, 2, 3],
     	total:100,
      tableData3: [{
	      listNo: '18091500231',
	      demand: '蔡晶',
	      demandStatus: '草稿',
	      sku:'1808080009',
	      name:'银色，32G',
	      param:'10',
	      store:'10',
	      sell:'300',
	      purchase:'10'
	    },{
	      listNo: '18091500231',
	      demand: '蔡晶',
	      demandStatus: '待审核',
	      sku:'1808080009',
	      name:'银色，32G',
	      param:'10',
	      store:'10',
	      sell:'300',
	      purchase:'10'
	    }],
	    tableData4: [{
	      SKU: '1808080009',
	      name: '华为荣耀8',
	      param: '银色，32G',
	      sendWarehouse:'default',
	      store:'-10',
	      onWayStore:'10',
	      purchase:'10',
	      sell:'300',
	      status:'清货'
	    },{
	      SKU: '1808080009',
	      name: '华为荣耀8',
	      param: '银色，32G',
	      sendWarehouse:'default',
	      store:'-10',
	      onWayStore:'10',
	      purchase:'10',
	      sell:'300',
	      status:'清货'
	    }],
	    multipleSelection: [],
    	count:'',
    	demandStatusVal:'',
    	demandStatus:[
			  { key: '1', display_name: '草稿' },
			  { key: '2', display_name: '待审核' },
			  { key: '3', display_name: '审核通过' },
			  { key: '4', display_name: '审核不通过' }
			],
			ctrListStatus:false,
			scrollwrapperStatus:false,
			openStatus:''
    }
  },
  
  created() {
  },
  methods: {
    handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
	  },
	  handleCurrentChange(val) {
	    console.log(`当前页: ${val}`);
	  },
	  handleSelectionChange(val) {
	    this.multipleSelection = val;
	    console.log(val)
	    if(val.length > 0){
	    	this.ctrListStatus = true
	    }else{
	    	this.ctrListStatus = false
	    }
	  },
	  indexMethod(index) {
	    return index * 2;
	  },
	  handlecurrentRow(val) {
	  	this.openStatus = 'detail'
	    this.scrollwrapperStatus = true
	  },
	  handleClose(){
	  	this.scrollwrapperStatus = false
	  },
	  addList(){
	  	this.openStatus = 'add'
	  	this.scrollwrapperStatus = true
	  },
	  delData() {
	    this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
			  confirmButtonText: '确定',
			  cancelButtonText: '取消',
			  type: 'warning'
			}).then(() => {
			  this.$message({
			    type: 'success',
			    message: '删除成功!'
			  });
			}).catch(() => {
			  this.$message({
			    type: 'info',
			    message: '已取消删除'
			      });          
			    });
	  }
  }
}
</script>
<style scoped>
.app-container{
	position: relative;
}
.ctr-box{
	position: absolute;
	top: 0;
	left: 0;
	height: 70px;
	background: #FFFFFF;
	width: 100%;
	padding-top: 20px;
	box-shadow: 2px 1px 5px rgba(0,0,0,0.15);
	border-color: #ddd;
}
.scrollwrapper{
  position: fixed;
	top: 50px;
	bottom: 0;
	right: 0;
	left: auto!important;
	z-index: 1000;
	background: #f9f9f9;
	border-left: 1px solid #ddd;
	width: 800px;
	box-shadow: -3px 0 4px rgba(0,0,0,0.1);
	transition: all .5s ease-in-out;
	transform: translateX(100%);
}
.scrollwrapper.show{
	transform: translateX(0);
}
.add-tiel{
	background: #f5f5f5;
	min-height: 51px;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.add-tiel span{
	margin: 7px 0 0 20px;
	font-weight: bold;
	color: #454545;
	float: left;
	line-height: 36px;
}
.el-dialog__headerbtn{
	font-size: 24px;
	top: 12px;
}
.win-btn-box{
	margin: 15px;
}
.p10{
	padding: 10px;
}
</style>