<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input style="width: 200px;" class="filter-item" placeholder="SKU" v-model="listQuery.type">
      </el-input>
      <el-input style="width: 200px;" class="filter-item" placeholder="商品名称" v-model="listQuery.title">
      </el-input>
      <el-button class="filter-item" type="primary" v-waves icon="el-icon-search">{{$t('table.search')}}</el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-edit">采购</el-button>
      <!--<el-button class="filter-item" type="primary" :loading="downloadLoading" v-waves icon="el-icon-download" @click="handleDownload">{{$t('table.export')}}</el-button>-->
      <!--<el-checkbox class="filter-item" style='margin-left:15px;' @change='tableKey=tableKey+1' v-model="showReviewer">{{$t('table.reviewer')}}</el-checkbox>-->
    </div>

    <el-table
	    ref="multipleTable"
	    border
	    :data="tableData3"
	    tooltip-effect="dark"
	    style="width: 100%"
	    @selection-change="handleSelectionChange">
	    <el-table-column
	      type="selection"
	      width="55">
	    </el-table-column>
	    <el-table-column
	      label="序号"
	      width="120"
	      type="index"
      	:index="indexMethod">
	    </el-table-column>
	    <el-table-column
	      prop="SKU"
	      label="SKU"
	      width="120">
	    </el-table-column>
	    <el-table-column
	      prop="name"
	      label="商品名称"
	      show-overflow-tooltip>
	    </el-table-column>
	    <el-table-column
	      prop="param"
	      label="参数"
	      show-overflow-tooltip>
	    </el-table-column>
	    <el-table-column
	      prop="sendWarehouse"
	      label="发货仓库"
	      show-overflow-tooltip>
	    </el-table-column>
	    <el-table-column
	      prop="store"
	      label="库存数量"
	      show-overflow-tooltip>
	    </el-table-column>
	    <el-table-column
	      prop="onWayStore"
	      label="在途库存"
	      show-overflow-tooltip>
	    </el-table-column>
	    <el-table-column
	      prop="purchase"
	      label="采购数（审核中）"
	      show-overflow-tooltip>
	    </el-table-column>
	    <el-table-column
	      prop="sell"
	      label="30天销售数量"
	      show-overflow-tooltip>
	    </el-table-column>
	    <el-table-column
	      prop="status"
	      label="商品状态"
	      show-overflow-tooltip>
	    </el-table-column>
	    <el-table-column
	      prop="address"
	      label="采购数量"
	      show-overflow-tooltip>
	       <template slot-scope="scope">
	        <el-input v-model="count" placeholder="请输入内容"></el-input>
      	</template>
	    </el-table-column>
	  </el-table>

    <div class="pagination-container">
      <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="listQuery.page" :page-sizes="[10,20,30, 50]" :page-size="listQuery.limit" layout="total, sizes, prev, pager, next, jumper" :total="total">
      </el-pagination>
    </div>

  </div>
</template>

<script>
import { fetchList, fetchPv, createArticle, updateArticle } from '@/api/article'
import waves from '@/directive/waves' // 水波纹指令
import { parseTime } from '@/utils'

const calendarTypeOptions = [
  { key: 'CN', display_name: 'China' },
  { key: 'US', display_name: 'USA' },
  { key: 'JP', display_name: 'Japan' },
  { key: 'EU', display_name: 'Eurozone' }
]

// arr to obj ,such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = calendarTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})

export default {
  name: 'complexTable',
  directives: {
    waves
  },
  data() {
    return {
      tableKey: 0,
      list: null,
      total: null,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id'
      },
      importanceOptions: [1, 2, 3],
     	total:100,
      tableData3: [{
	      SKU: '1808080009',
	      name: '华为荣耀8',
	      param: '银色，32G',
	      sendWarehouse:'default',
	      store:'-10',
	      onWayStore:'10',
	      purchase:'10',
	      sell:'300',
	      status:'清货'
	    },{
	      SKU: '1808080009',
	      name: '华为荣耀8',
	      param: '银色，32G',
	      sendWarehouse:'default',
	      store:'-10',
	      onWayStore:'10',
	      purchase:'10',
	      sell:'300',
	      status:'清货'
	    }],
	    multipleSelection: [],
    	count:''
    }
  },
  
  created() {
  },
  methods: {
    handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
	  },
	  handleCurrentChange(val) {
	    console.log(`当前页: ${val}`);
	  },
	   handleSelectionChange(val) {
	    this.multipleSelection = val;
	  },
	  indexMethod(index) {
	    return index * 2;
	  }
  }
}
</script>
